# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\tensquare\tensquare_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#
.iml
#
rebel.xml